.soon-text {
          font-size: 4rem;
            bottom: 0%;
            left: 80%;
          color: #aaff01;
          border:solid green 3px; 
        }

        @media screen and (max-width: 768px) {
          .soontext {
            font-size: 4rem;
            display: none;
          border:solid red 3px; 
          }
        }

        @media screen and (max-width: 480px) {
          .soontext {
            font-size: 2rem;
            display:none;
          border:solid blue 3px; 
          }
        }
.localHero{
          border:solid gold 3px; 
    background-image: url("/assets/images/video/pines.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;

}
@media screen and (max-width: 768px){
 .karbonMoneta{ 
          border:solid red 3px; 
 display:none;}
}
.karbonMoneta{
          border:solid purple 3px; 
  padding-top:2rem;
            border-Radius: 50px;
}
