@font-face{
  font-family:'caskaydia';
  src:'/assets/fonts/Caskaydia Cove Nerd Font Complete Regular.otf'
}
a{
  background-color:black;
  color:white;
  font-family:"caskaydia";
}
a{
  color:gold;
}
